.ant-card.add_menu_card {
  position: absolute !important;
  top: 50vh;
  left: 50vw;
  z-index: 100;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  text-align: "center";
}
.ant-card.add_menu_card::before{
  display: block;
  width:100vw;
  height: 100vh;
  background-color:rgba(0,0,0,.3)!important
}

.ant-form.add_menu-form {
  width: 300px;
  margin: 0 auto;
}

.antd-button.add_menu_submit {
  width: "100%";
  height: 35px;
}

.Sys_menu_top_Header{
  height: 10%;
  line-height:8vh;
  padding-left:10px;
}