<!--
 * @Author: your name
 * @Date: 2020-01-14 08:12:51
 * @LastEditTime: 2020-05-12 12:40:43
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \My-JavaScript-Study\TypeScript Study\view\1.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../TS/1、test.js"></script>
    <style>
    </style>
</head>

<body>

</body>

</html>