#login-main{
  width:100vw;
  height: 100vh;
  background-image:url(../../images/timg.jpg);
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
}