.ranking-list{
  width: 100%;
  min-height: 80vh;
}
.ranking-titles{
  margin: auto;
  text-align: center;
}
.nextBtn{
  width: 80px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background-color: deepskyblue;
  transition: all .5s;
  float: right;
  /*-----------------------
   | react 默认渲染outline
   | 这个鼠标、键盘的焦点事件是属于 无障碍设计
   | 没有显示的情况下，不应该将它去掉
   | https://zh-hans.reactjs.org/docs/accessibility.html#keyboard-focus-and-focus-outline
   |----------------------*/
  outline:0;
}
.nextBtn:hover{
  background-color: orange;
}