body{
    padding: 0px;
    margin: 0px;
}
#aside{
    width:200px;
    height: 100%;
    border: 1px solid red;
    position: relative;
}

#charts{
    width: 1000px;
    height: 500px;
    border:1px solid red;
    position: absolute;
    left:200px;
    top: 50px;
}

#aside .asideBox .chartsIcon img{
    width:50px;
    height:50px;
}